In [1]:
# topic :List

In [2]:
#1. create a list of 5 random numbers and print the list

In [3]:
l1=[10,20,30,40,50]
l1

[10, 20, 30, 40, 50]

In [4]:
#2.insert 3 new values to the list and print the updated list

In [5]:
l1.extend([60,70,80])
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80]

In [6]:
#3.Access the third element in the list and print the element

In [7]:
print(l1[2])

30

In [8]:
#  4 .create a new list of 3 random strings and concatenate the two lists into a third list.

In [9]:
s1=("apple", "orange", "banana")

In [10]:
s2=("red","orange","banana")

In [11]:
s3=s1+s2

In [12]:
s3

('apple', 'orange', 'banana', 'red', 'orange', 'banana')

In [13]:
#5.try to use a for loop to print each element in the list

In [14]:
for element in s3:
    print(element)

apple
orange
banana
red
orange
banana

In [15]:
#dictionary

In [16]:
# 1.create a dictionary with keys'name,'age,and 'address' and 'values''john',25 and 'New York respectively'

In [15]:
d2=dict(name='John' ,age=25,address='New York')
d2

{'name': 'John', 'age': 25, 'address': 'New York'}

In [18]:
#2.Add a new key-values pair to the dictionary created in Q1 with key 'phone and value'1234567890'.

In [19]:
d2['phone'] =1234567890
d2

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

In [19]:
#3.Remove the key'address from the dictionary created in Q1

In [21]:
del d2['address']
d2

{'name': 'John', 'age': 25, 'phone': 1234567890}

In [20]:
#4.Print the value of the key 'age' from the dictionary created in Q1.

In [23]:
print(d2['age'])

25

In [21]:
#5.check if the key 'phone'exists in the dictionary created in Q1.

In [25]:
d2

{'name': 'John', 'age': 25, 'phone': 1234567890}

In [27]:
print(d2['phone'])

1234567890

In [22]:
#set

In [ ]:
#1.create a set with values 1,2,3,4, and 5.

In [31]:
s1={1,2,3,4,5}

In [33]:
s1

{1, 2, 3, 4, 5}

In [ ]:
# 2.Add values 6 to the set

In [35]:
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
# 3.Remove the value 3 from the set.

In [37]:
s1.remove(2)
s1

{1, 3, 4, 5, 6}

In [ ]:
 # 4. print the lenth of the set.

In [41]:
print("length of the set:",len(s1))

length of the set: 5

In [ ]:
 # 5.create a new set by union of the set with another set{6,7,8}.

In [43]:
s2={6,7,8}

In [45]:
s2

{6, 7, 8}

In [47]:
s3=s1|s2

In [49]:
s3

{1, 3, 4, 5, 6, 7, 8}

In [ ]:
 # Tuple

In [ ]:
# 1.create a tuple with values 1,2,3, and 4

In [51]:
t1=(1,2,3,4,)

In [53]:
t1

(1, 2, 3, 4)

In [ ]:
 # 2.print the lenth of the tuple.

In [55]:
print("length of the tuple:",len(t1))

length of the tuple: 4

In [ ]:
# 3.create a new tuple by concatenating with another tuple (5,6).

In [57]:
t2=(5,6)

In [63]:
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

In [ ]:
# 4.print the first two values of the new tuple.

In [71]:
print(t3[1:2])

(2,)

In [ ]:
# 5.check if the value 4 exist in the tuple.

In [79]:

exists=4 in t3
print("does 4 exist in the tuple?",exists)

does 4 exist in the tuple? True

In [ ]:
 # string,list,set,dictionary comprehension

In [ ]:
Topic:string,list,set-dictionary comprehension

In [ ]:
#excercise 1
Write a program that asks the user to enter his/her full name and the program process and manipulate the text of his/her name.
An example run of the program (numbers in bold are typed in by the user)
Please enter your first name: Peter
Please enter your last name: Cambridge
Your full name is PETER CAMBRIDGE
Your initials are P C
First name length is 5 letters
Last name length is 9 letters
Full name length is 14 letters
First name starts with P
First name ends with R
Last name starts with C
Last name ends with E
First name indexes are 0 – 4
Last name indexes are 0 – 8
First name trims 1 Pet
First name trims 2 eter
Last name trims 1 Cam
Last name trims 2 bridge

In [ ]:
# Function to manipulate and display name information
def process_name():
    # Get user input
    first_name = input("Please enter your first name: ")
    last_name = input("Please enter your last name: ")

    # Process the names
    full_name = f"{first_name} {last_name}"
    full_name_upper = full_name.upper()
    initials = f"{first_name[0]} {last_name[0]}"
    
    # Lengths of names
    first_name_length = len(first_name)
    last_name_length = len(last_name)
    full_name_length = len(full_name)

    # Start and end characters
    first_name_starts = first_name[0]
    first_name_ends = first_name[-1]
    last_name_starts = last_name[0]
    last_name_ends = last_name[-1]

    # Index ranges
    first_name_indexes = f"0 – {first_name_length - 1}"
    last_name_indexes = f"0 – {last_name_length - 1}"

    # Trimming the names
    first_name_trim_1 = first_name[:-1]
    first_name_trim_2 = first_name[1:]
    last_name_trim_1 = last_name[:-1]
    last_name_trim_2 = last_name[1:]

    # Display results
    print(f"Your full name is {full_name_upper}")
    print(f"Your initials are {initials}")
    print(f"First name length is {first_name_length} letters")
    print(f"Last name length is {last_name_length} letters")
    print(f"Full name length is {full_name_length} letters")
    print(f"First name starts with {first_name_starts}")
    print(f"First name ends with {first_name_ends}")
    print(f"Last name starts with {last_name_starts}")
    print(f"Last name ends with {last_name_ends}")
    print(f"First name indexes are {first_name_indexes}")
    print(f"Last name indexes are {last_name_indexes}")
    print(f"First name trims 1 {first_name_trim_1}")
    print(f"First name trims 2 {first_name_trim_2}")
    print(f"Last name trims 1 {last_name_trim_1}")
    print(f"Last name trims 2 {last_name_trim_2}")

# Call the function to run the program
process_name()

In [ ]:
# excercise 2
Write a program that asks the user to enter his/her name and then partly encrypt and display it.
Name :John
Encrypted name "J**n"

In [1]:
 #ask user for their name
name = input("Name:")

#partly encrypt the name
encrypted_name =name[0] +"*" * (len(name)-2) + name[-1]
 
# print encrypted name
print(f"Encrypted name : {encrypted_name}")

Name: John

Encrypted name : J**n

In [ ]:
# Exercise3
Write a python program to count the number of strings where the string is 2 or more and the first and last character are same from a given list of strings
sample List:['abc','xyz','aba','1221']
expected result:2

In [1]:
s1=['abc','abc','xyz','aba','1221']
s1

['abc', 'abc', 'xyz', 'aba', '1221']

In [3]:
print(len(s1))

5

In [11]:
count = sum(1 for s in s1 if len(s) >=2 and s[0] == s[-1])
print(count)

2

In [ ]:
#4.exercise 4
find all of the numbers from 1-1000 that are divisible by 7 using list comprehension.

In [13]:
numbers = [i for i in range(1,1000) if i % 7 == 0]
print(numbers)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [ ]:
# 5.Create  dictionary from a list where the keys are the elements of the list and value of the dictionary is result after dividing the element by 3

In [17]:
# create dictionary from list
numbers = [1,2,3,4,5]
dictionary = {num: num / 3 for num in numbers}
print(dictionary)

{1: 0.3333333333333333, 2: 0.6666666666666666, 3: 1.0, 4: 1.3333333333333333, 5: 1.6666666666666667}